.todo{
    color: blue;
    text-align: center;
   }
   
    .todo1{
       background-image: url("img/utyu3.jpg");
       color: blue;
       text-align: center;
    }

body {background-image: url("img/utyu3.jpg");}