h1{
 color: blue;
 
}
 body{
    text-align: center;
 }

 todo_sample1 {
    width:300px; height:280px; padding:120px;
    border:dashed 5px #000000;	
    background-image:url("images/bg_flower.png");
    -moz-background-size:contain;
    -webkit-background-size:contain;
    -o-background-size:contain;
    -ms-background-size:contain;	
    }
    